p{
    text-align: center;
}

h2 {
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: right;
}

header img, footer img {
    vertical-align: middle;
}

nav {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}


nav button {
    margin: 0 5px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.form-container, .calendar-container {
    border: 1px solid #ccc;
    padding: 20px;
}

.form-container input, .form-container select, .form-container button {
    margin: 10px 0;
    width: 100%;
}

.cta-buttons {
    display: flex;
    gap: 10px;
    justify-content: space-around;
}
.cta-buttons button {
    display: flex;
    width: auto;
}

.input-row {
    display: flex;
    gap: 10px;
}

#reservaButton{
    display: flex;
    justify-content: center;
    justify-self: center;
    margin-bottom: 50px;
    width: auto;
}
