h3 {
  text-align: center;
  font-size: 24px;
}

h1 {
  text-align: center;
  font-size: 40px;
  color: #e8769a;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(138, 185, 107, 0.5);
  font-family: "Albert Sans", sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

nav button {
  margin: 0 5px;
}

.container {
  background-color: rgba(250, 227, 82, 0.9);
  margin: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  border-radius: 8px;
}

.form-container,
.calendar-container {
  border: 1px solid #e8769a;
  background-color: rgba(160, 220, 218, 0.9);
  border-radius: 8px;
  padding: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-container input,
.form-container select,
.form-container button,
.cta-buttons button {
  padding: 16px;
  border: 2px solid #f4a64c;
  border-radius: 32px;
  width: 100%;
}

.cta-buttons {
  display: flex;
  gap: 10px;
  justify-content: space-around;
}
.cta-buttons button {
  display: flex;
  width: auto;
}

.input-row {
  display: flex;
  gap: 10px;
}

#reservaButton {
  align-self: center;
  margin-bottom: 50px;
  width: fit-content;
  margin-right: 8px;
  margin-left: 8px;
}

input,
select,
button {
  background-color: rgba(255, 254, 250, 0.9);
}

button:hover {
  background-color: #e8769a;
}

button {
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.5s ease;
}
