@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Solway:wght@300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');
:root {
    --c-colorPrincipalBlanco: #FFFEFB;
    --c-colorPrinicpalNegro: #272523;
    --c-colorAmarillo: #FAE352;
    --c-colorAmarilloSuave: rgb(252 241 168);
    --c-colorNaranja: #F4A64C;
    --c-colorAguacate: #8AB96B;
    --c-colorRosa: #E8769A;
    --c-colorAzulito: #A0DCDA;
    --fontTitulo: "Albert Sans", serif;
    --fontSubtitulo: "Solway", serif;
    --fontTexto: "Sofia Sans Semi Condensed", serif;
}